@model IEnumerable<TODOLIST_ASP.NET_CORE_MVC.Models.TodolistModel>

@{
    ViewData["Title"] = "To do list";
}



    <div id="createpartialzone"></div>

<script>
    $('#createpartialzone').load("/Todolist/CreatePartial")
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.item)*@
                Ma Todolist
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count() ==0 ){
             <tr>
                <td>
                    Aucune tâche crée.
                </td>
            </tr>
        }
        @foreach (var item in Model) {
        <tr>
          

            <td>
                    <input type="radio" onchange="taskfinish( @item.Id )"/>
            </td>
            
                <td id="task-content-@item.Id">
                    @Html.DisplayFor(modelItem => item.item)
            </td>
            
                <td style="display:flex;">

                    <button class="btn btn-light" onclick="showEditForm( @item.Id )" id="btn-for-show-edit-form-@item.Id">Edit </button>
                 <div id="editpartialzone-@item.Id"></div>
                    <input type="button" onclick="hideEditForm(@item.Id)" value="Annuler" class="btn btn-light btn-edit-annuler" id="btn-edit-annuler-@item.Id"/>

            </td>
            
            <td>
                  <div id="deletepartialzone-@item.Id"></div>
            </td>
        </tr>
          
            <script>

                $("#deletepartialzone-@item.Id").load("/Todolist/DeletePartial?id=@item.Id")
                $(".btn-edit-annuler").hide();
                $("#editpartialzone-@item.Id").hide();

                
                @* Modifier sa tache    *@
                function showEditForm(id) {
                    $(`#btn-edit-annuler-${id}`).show();
                        $(`#editpartialzone-${id}`).show()
                        $(`#editpartialzone-${id}`).load(`/Todolist/EditPartial?id=${id}`)
                    $(`#form-edit-${id}`).show();
                        $(`#task-content-${id}`).hide();
                        $(`#btn-for-show-edit-form-${id}`).hide()

                }


                function hideEditForm(id){
                    $(`#editpartialzone-${id}`).hide();
                    $(`#btn-edit-annuler-${id}`).hide();
                    $(`#task-content-${id}`).show();
                    $(`#btn-for-show-edit-form-${id}`).show()


                }


                function taskfinish(id) {

                    $(`#task-content-${id}`).css("text-decoration", "line-through");
                    $(`#task-content-${id}`).css("color", "blue");
            }

               
              @*  $("#editpartialzone-@item.Id").load("/Todolist/EditPartial?id=@item.Id")*@
            </script>
       
}

      
    </tbody>
</table>
