@model IEnumerable<TODOLIST_ASP.NET_CORE_MVC.Models.TodolistModel>

@{
    ViewData["Title"] = "To do list";
}


<p>
    <div id="createpartialzone"></div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.item)*@
                Ma Todolist
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count() ==0 ){
             <tr>
                <td>
                    Aucune tâche crée.
                </td>
            </tr>
        }
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.item)
            </td>
            
            <td>
                 <div id="editpartialzone-@item.Id"></div>
            </td>
            
            <td>
                    <div id="deletepartialzone-@item.Id"></div>
            </td>
        </tr>
          
            <script>
                $("#editpartialzone-@item.Id").load("/Todolist/EditPartial?id=@item.Id")
                $("#deletepartialzone-@item.Id").load("/Todolist/DeletePartial?id=@item.Id")
            </script>
       
}

        <script>
          $('#createpartialzone').load("/Todolist/CreatePartial")
        </script>
    </tbody>
</table>
