@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/pomodoro.css" asp-append-version="true" />

<div class="text-center">
    <h1>App Pomodoro</h1>

    <div class="affichage">
        <div class="bloc travail">
            <p>Travail</p>
            <p class="affichageT"></p>
        </div>
        <div class="bloc pause">
            <p>Repos</p>
            <p class="affichageP"></p>
        </div>
    </div>

    <div class="container-btns">
        <button class="btn b1">Commencer</button>
        <button class="btn b2">Pause</button>
        <button class="btn b3">Reset</button>
    </div>

    <h2></h2>

    <script src="~/js/pomodoro.js"></script>
</div>
